<!DOCTYPE html>
<html>
    <head>
        <title>Pirates and their Ships</title>
    </head>
    <body>
        <h1>Want to Add Your Pirates & Ships?</h1>
        <p><a href='/new'>Click Here</a></p>
    </body>
</html>